@(title: String)(implicit content: Html = Html(""))

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">        
        
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
		<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))'></script>
		
		<script src="@routes.Assets.at("javascripts/routes")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    </head>
    <body ng-controller="MainController" ng-app="estimatorApp">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Reactive COST</a>
                </div>
				
				<form class="navbar-form navbar-left">
                    <div class="form-group">
						<input type="text" class="form-control" placeholder="Поиск" name="url" ng-model="request.url" autofocus>
                    </div>
					<button class="btn btn-default" ng-click="estimate()">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{mode == "post" ? "POST" : "WS"}} <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="setMode('post')">POST</a></li>
                        <li><a href="#" ng-click="setMode('socket')">WebSocket</a></li>
                      </ul>
                    </div>
                </form>
            </div>
        </nav>
		<div class="container-fluid">
			<h1 ng-bind="result.url"></h1>
			<p ng-bind-html="result.whois | formatToHtml"></p>
            <p>Google PageRank: <span ng-bind="result.pageRank"/></p>
            <p>IP adresses: <ul class="list-inline" ng-repeat="item in result.inetAddress"><li ng-bind="item"/></ul></p>
            <p>Alexa rating: <span ng-bind="result.alexa"/></p>
        </div>
    </body>
</html>
